# Configuration for 1M5 Proxy Daemon
1m5-proxy.version=${project.version}

# 1M5 Configurations
log.level=${log.level}
## Launch Local HTTP Server?
onemfive.sensors.clearnet.server=${onemfive.sensors.clearnet.server}
## Configuration of Local Servers in the form below delimited by colon:
##    name, type (local), port, launch on start (true | false), spa (true | false), concrete implementation of io.onemfive.clearnet.server.AsynchronousEnvelopeHandler, UI resource folder, use websocket (true | false), concrete implementation of io.onemfive.clearnet.server.EnvelopeWebSocket, any additional properties you wish to provide
### 2017 birth of 1M5
## Configuration of Proxy Servers in the form below delimited by colon:
##    name, type (proxy), port, concrete implementation of io.onemfive.clearnet.server.AsynchronousEnvelopeHandler
### 2017 birth of 1M5
1m5.sensors.clearnet.server.config=1M5-Proxy-Daemon,proxy,2017,io.onemfive.proxy.ProxyHandler

## Start up web server for 1M5 console? true | false
1m5.ui=false
## Launch on start? true | false
1m5.ui.launchOnStart=false