[Unit]
Description=Invisible Matrix Services (1M5) Proxy
[Service]
ExecStart=/usr/bin/java -Djava.util.logging.config.file=/home/[user]/1m5/proxy/logs/logging.properties -jar /home/[user]/1m5/proxy/lib/1m5-proxy.jar "java.util.logging.config.file=/home/[user]/1m5/proxy/logs/logging.properties"
Type=simple
User=[user]
WorkingDirectory=/home/[user]/1m5/proxy
[Install]
WantedBy=multi-user.target